<?xml version="1.0"?>
<launch>
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
	</include>

	<!-- Our node to control the drone -->
	<node pkg="EE260B_Drone" type="drone_rl.py" name="drone_rl_py" required="true" output="screen" />
</launch>

